<ul>
  <li class="col-md-12" ng-repeat="t in vm.parent.DATA.todos" ng-class="{'checked': (t.done) }">
    <div class="col-md-10 todo-text">{{ t.text }}</div>
    <div class="col-md-2">

      <span>
        <button type="button" class="btn btn-success" ng-click="vm.doneTodo(t)"><i class="fa fa-check" ng-class="{'fa-check': (!t.done), 'fa-times': (t.done) }" aria-hidden="true"></i></button>
      </span>

      <span>
        <button type="button" class="btn btn-danger" ng-click="vm.deleteTodo(t)"><i class="fa fa-trash" aria-hidden="true"></i></button>
      </span>

    </div>
  </li>
</ul>
