<div class="header">
  <form novalidate name="todoForm">
    <input type="text" ng-model="vm.todoText" placeholder="Title..." required >
    <input type="submit" value="Add" class="addBtn" ng-click="vm.addTodo()">
  </form>
</div>
